.container-fluid {
  display: flex;
}

.sidebar_container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: auto; /* Enable vertical scrolling */
}

.content {
  flex: 1 1 auto;
  padding-left: 100px; /* Add left padding equal to sidebar width */
  overflow-y: auto; /* Enable vertical scrolling */
}
